{% extends 'layouts.html' %}
{% load static %}
{% load humanize %}
{% block content%}
<div class="container my-2">
   <div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{product.image.url}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{product.get_url}}">{{product.name}}</a>
            </h4>
            <h5>฿{{product.price|intcomma}}</h5>
            <p class="card-text">{{product.description}}</p>
          </div>
          <div class="card-footer">
           {% if product.stock <= 0%}
                  <h4 class="text-danger">สินค้าหมด</h4>
           {% else %}
                  <a href="{%url 'addCart' product.id %}" class="btn btn-primary">เพิ่มลงตระกร้า</a>
           {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
   </div>
</div>
{% endblock%}